/* Produtos */

.produtos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 30px 30px;
	grid-template-areas:
	"p1 p2 p3 p4 p5"
	"p6 p7 p8 p9 p10";
	align-self: center;
	align-content: center;
	align-self: center;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {

	border: 3px solid blue;
	background-color: white;
	width: 200px;
	height: 250px;
	-webkit-box-shadow: 9px 9px 23px -1px rgba(0,0,0,0.35);
	-moz-box-shadow: 9px 9px 23px -1px rgba(0,0,0,0.35);
	box-shadow: 9px 9px 23px -1px rgba(0,0,0,0.35);
} 

@media only screen and (max-width: 800px) {
	.produtos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 30px 30px;
	grid-template-areas:
	"p1 p2" 
	"p3 p4" 
	"p5 p6"
	"p7 p8"
	"p9 p10";
	align-self: center;
	align-content: center;
	align-self: center;
}
	}

}



/* Produtos*/